@font-face {
  font-family: 'Gen Jyuu 0';
  src: url('../fonts/Gen_Jyuu_Gothic_Monospace_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gen Jyuu 1';
  src: url('../fonts/Gen_Jyuu_Gothic_Monospace_Bold.ttf') format('truetype');
}
