:root {
  --y-blue: #00356b;
  --1-blue: #005d9a;
  --2-blue: #0077cc;
  --3-vlue: #00a8e8;
  --4-blue: #77c4d3;
  --5-blue: #001f4e;
  --6-blue: #002b5c;
  --7-blue: #004080;
  --8-blue: #66a5ad;
  --9-blue: #9ac9cb;
}

/* :root[theme="lx"] {} */

/* :root[theme="dx"] {} */
